In [2]:
import pandas as pd

In [3]:
df_training = pd.read_csv("training_set_features.csv")

In [4]:
df_labels = pd.read_csv("training_set_labels.csv")

In [5]:
df = df_labels.merge(df_training, on = "respondent_id", how = "inner")

In [6]:
df.head()

,respondent_id,h1n1_vaccine,seasonal_vaccine,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,0,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,0,0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,0,1,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,0,0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [7]:
print(df.isnull().sum())

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [8]:
df1 = df.drop(["health_insurance","employment_industry", "employment_occupation"], axis=1)

In [9]:
print(df1.isnull().sum())

respondent_id                     0
h1n1_vaccine                      0
seasonal_vaccine                  0
h1n1_concern                     92
h1n1_knowledge                  116
behavioral_antiviral_meds        71
behavioral_avoidance            208
behavioral_face_mask             19
behavioral_wash_hands            42
behavioral_large_gatherings      87
behavioral_outside_home          82
behavioral_touch_face           128
doctor_recc_h1n1               2160
doctor_recc_seasonal           2160
chronic_med_condition           971
child_under_6_months            820
health_worker                   804
opinion_h1n1_vacc_effective     391
opinion_h1n1_risk               388
opinion_h1n1_sick_from_vacc     395
opinion_seas_vacc_effective     462
opinion_seas_risk               514
opinion_seas_sick_from_vacc     537
age_group                         0
education                      1407
race                              0
sex                               0
income_poverty                 4423
marital_status                 1408
rent_or_own                    2042
employment_status              1463
hhs_geo_region                    0
census_msa                        0
household_adults                249
household_children              249
dtype: int64

In [10]:
df2 = df1.dropna()

In [11]:
df2.count()

respondent_id                  19642
h1n1_vaccine                   19642
seasonal_vaccine               19642
h1n1_concern                   19642
h1n1_knowledge                 19642
behavioral_antiviral_meds      19642
behavioral_avoidance           19642
behavioral_face_mask           19642
behavioral_wash_hands          19642
behavioral_large_gatherings    19642
behavioral_outside_home        19642
behavioral_touch_face          19642
doctor_recc_h1n1               19642
doctor_recc_seasonal           19642
chronic_med_condition          19642
child_under_6_months           19642
health_worker                  19642
opinion_h1n1_vacc_effective    19642
opinion_h1n1_risk              19642
opinion_h1n1_sick_from_vacc    19642
opinion_seas_vacc_effective    19642
opinion_seas_risk              19642
opinion_seas_sick_from_vacc    19642
age_group                      19642
education                      19642
race                           19642
sex                            19642
income_poverty                 19642
marital_status                 19642
rent_or_own                    19642
employment_status              19642
hhs_geo_region                 19642
census_msa                     19642
household_adults               19642
household_children             19642
dtype: int64

In [13]:
df2.shape

(19642, 35)

In [14]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

df2.dtypes()

In [15]:
df2.dtypes

respondent_id                    int64
h1n1_vaccine                     int64
seasonal_vaccine                 int64
h1n1_concern                   float64
h1n1_knowledge                 float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_h1n1               float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
opinion_h1n1_vacc_effective    float64
opinion_h1n1_risk              float64
opinion_h1n1_sick_from_vacc    float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
dtype: object

In [57]:
df_y = df2.select_dtypes(include=['int64'])

In [58]:
df_y = df_y["h1n1_vaccine"]

In [59]:
df_y = np.array(df_y)

In [22]:
df_x = df2.drop(["respondent_id","h1n1_vaccine", "seasonal_vaccine"], axis=1)

In [23]:
df_x

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0
5,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Employed,atmpeygn,"MSA, Principle City",2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26700,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,White,Female,"> $75,000",Married,Own,Not in Labor Force,lzgpxyit,"MSA, Principle City",1.0,0.0
26701,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,White,Female,"> $75,000",Not Married,Rent,Not in Labor Force,fpwskwrf,"MSA, Principle City",3.0,0.0
26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0
26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0
26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0

In [24]:
df_categories = df_x.select_dtypes(include=['object'])

In [25]:
df_float = df_x.select_dtypes(include=['float64'])

In [26]:
float_array = np.array(df_float)
float_array

array([[1., 0., 0., ..., 2., 0., 0.],
       [3., 2., 0., ..., 4., 0., 0.],
       [1., 1., 0., ..., 1., 0., 0.],
       ...,
       [2., 0., 0., ..., 2., 0., 0.],
       [1., 2., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [27]:
df_categories.head()

,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa
0,55 - 64 Years,< 12 Years,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA
1,35 - 44 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City"
3,65+ Years,12 Years,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City"
4,45 - 54 Years,Some College,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City"
5,65+ Years,12 Years,White,Male,"<= $75,000, Above Poverty",Married,Own,Employed,atmpeygn,"MSA, Principle City"

In [28]:
features_array = np.array(df_categories)
features_array

array([['55 - 64 Years', '< 12 Years', 'White', ...,
        'Not in Labor Force', 'oxchjgsf', 'Non-MSA'],
       ['35 - 44 Years', '12 Years', 'White', ..., 'Employed',
        'bhuqouqj', 'MSA, Not Principle  City'],
       ['65+ Years', '12 Years', 'White', ..., 'Not in Labor Force',
        'lrircsnp', 'MSA, Principle City'],
       ...,
       ['65+ Years', 'Some College', 'White', ..., 'Not in Labor Force',
        'qufhixun', 'Non-MSA'],
       ['18 - 34 Years', 'College Graduate', 'White', ..., 'Employed',
        'lzgpxyit', 'MSA, Principle City'],
       ['65+ Years', 'Some College', 'White', ..., 'Not in Labor Force',
        'mlyzmhmf', 'MSA, Principle City']], dtype=object)

In [29]:
encoder = OneHotEncoder(sparse=False)

In [30]:
onehot = encoder.fit_transform(features_array)

In [31]:
onehot.shape

(19642, 38)

In [32]:
onehot

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [33]:
onehot[0]

array([0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0.,
       1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 1.])

In [34]:
df_features = np.concatenate((float_array, onehot),axis=1)
df_features

array([[1., 0., 0., ..., 0., 0., 1.],
       [3., 2., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 1., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 1.],
       [1., 2., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [35]:
df_features.shape

(19642, 60)

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test, y_train, y_test = train_test_split(df_features, df_y, random_state=42)

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
X_scaler1 = MinMaxScaler().fit(X_train)
X_train_scaled1 = X_scaler1.transform(X_train)
X_test_scaled1 = X_scaler1.transform(X_test)

In [65]:
X_train_scaled1[0]

array([0.66666667, 1.        , 0.        , 1.        , 1.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.75      ,
       0.25      , 0.25      , 0.75      , 0.25      , 1.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ])

In [66]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [67]:
model

GaussianNB(priors=None, var_smoothing=1e-09)

In [68]:
model.fit(X_train_scaled1, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [69]:
df_y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [70]:
y_model = model.predict(X_test_scaled1)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

0.7603339442068825

In [71]:
import joblib

filename = 'naive_bayes.sav'
joblib.dump(model, filename)

['naive_bayes.sav']